body {
  background-color: hsl(30, 38%, 92%);
}
#root {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  color: hsl(212, 21%, 14%);
  max-width: 800px;
}

.left-side img {
  width: 400px;
}

.right-side {
  padding: 50px;
}

.right-side h4 {
  color: hsl(228, 12%, 48%);
  margin: 0;
  font-weight: 500;
}

.right-side h1 {
  font-family: Fraunces, sans-serif;
  font-size: 48px;
  margin: 10px 0 10px 0;
}

.para {
  font-weight: 500;
  color:hsl(228, 12%, 48%);
}

h2 {
  font-family: Fraunces, sans-serif;
  color: hsl(158, 36%, 37%);
  font-size: 48px;
  display: inline-block;
  margin: 10px 20px 10px 0;
}

.oldprice {
  display: inline-block;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

button {
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  font-weight: 500;
  padding: 15px;
}

button:hover {
  background-color: hsl(158, 35%, 18%);
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin: 20px auto;
  }

  .left-side img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
}